**Sum of all Even Numbers**

In [ ]:
# Initialize a variable to store the sum of even numbers
sum = 0

# Loop through numbers from 1 to 100
for i in range(100):
    # Check if the number is even
    if i % 2 == 0:
        # Add the even number to the sum
        sum += i

# Print the sum of all even numbers
print("The sum of all even numbers from 1 to 100 is:", sum)

The sum of all even numbers from 1 to 100 is: 2450

**Check if the number is Prime**

In [ ]:
# Input from the user
num = int(input("Enter a number: "))

# Prime numbers are greater then 1
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 22
22 is not a prime number

**a function that takes a list of numbers and returns a new list with only the even numbers.**

In [ ]:
def even_numbers(numbers):
  even_numbers =[]
  for i in range(len(numbers)):
    if numbers[i] % 2 == 0:
      even_numbers.append(numbers[i])

  return even_numbers

a_list = [2,5,6,8,9,10]
even_list = even_numbers(a_list)
print(even_list)

[2, 6, 8, 10]

In [ ]:
def even_numbers(numbers):
  even_numbers =[]
  for i in range(len(numbers)):
    if numbers[i] % 2 == 0:
      even_numbers.append(numbers[i])

  return even_numbers
#if we input on runtime

# Ask the user how many numbers you want to enter
n = int(input("How many numbers do you want to enter? "))

# Initialize an empty list to store the numbers
a_list = []

# Loop to take input for each number
for i in range(n):
    # Prompt the user to enter a number
    number = int(input(f"Enter number {i+1}: "))
    # Append the number to the list
    a_list.append(number)

# Print the list of numbers entered by the user
print(a_list)

even_list = even_numbers(a_list)
print("The new even list is :", even_list)

How many numbers do you want to enter? 5
Enter number 1: 2
Enter number 2: 1
Enter number 3: 3
Enter number 4: 5
Enter number 5: 6
[2, 1, 3, 5, 6]
The new even list is : [2, 6]

**a dictionary representing a student's grades in different subjects and Calculate the average grade.**

In [ ]:
Student_Grades = {
    "Chemistry": 80,
    "Physics": 92,
    "Mathematics": 95,
    "English": 75,
    "Pak studies": 45
}
#calculate number of subjects
Number_of_Subject = len(Student_Grades)

#Calculate sum of all subject Grades
Sum_of_Grades = sum(Student_Grades.values())

#Calculate Average
Average_Grade = Sum_of_Grades / Number_of_Subject

TypeError: 'int' object is not callable

**program that reverses a given string without using any built-in reverse function.**

In [ ]:
def reverse_string(string):
    rev_string = ""
    for i in string:
        rev_string = i + rev_string
    return rev_string

string = "HelloWorld"
print("The original string is : ",string)
reverse = reverse_string(string)
print("The reversed string  is : ",reverse)

The original string is :  HelloWorld
The reversed string  is :  dlroWolleH

**a function that finds the factorial of a given number using a loop.**

In [ ]:
def factorial(number):
    # Initialize the result to 1 (factorial of 0 and 1 is 1)
    factorial = 1

    # Loop through each number from 1 to n
    for i in range(1, n + 1):
        factorial *= i  # Multiply result by the current number

    return factorial

# Example usage
number = input("Enter a number:")
factorial_of_number = factorial(number)
print(f"The factorial of number :" ,factorial_of_number)

Enter a number:5
The factorial of number : 120

**counts the number of vowels in a string**

In [ ]:
def count_vowels(string):
    # Define a set of vowels
    vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

    # Initialize the count
    count = 0

    for char in string:
        if char in vowels:
            count += 1

    return count
# Input a string from the user
string = input("Enter a string: ")
count = count_vowels(string)
print(f"The number of vowels in the string is:",count)

Enter a string: king knight
The number of vowels in the string is: 2

**find the shortest and longest names in the list.**

In [ ]:
def LONGEST_SHORTEST(Names):
  short_Name = long_name = Name_list[0]

    # Loop through the list to find the shortest and longest names
  for Name in Names:
    if len(Name) < len(short_Name):
      short_Name = Name
    if len(Name) > len(long_name):
      long_name = Name

  return short_Name, long_name

Name_list = ['Harrypotter','Huffle','Gold','Knight','sirisblack','albusdumbledore']
short_Name,long_name = LONGEST_SHORTEST(Name_list)
print("The shortest name is : ",short_Name,"\nThe longest name is : ",long_name)

The shortest name is :  Gold
The longest name is :  albusdumbledore

**function that checks if a given word is a palindrome.**

In [8]:
def palindrome(word):
    # Convert the word to lowercase to make the check case-insensitive
    word = word.lower()

    # Reverse the word
    #[::-1] slice notation used to reverse the string. It consists of three parts: start:stop:step
    reversed_word = word[::-1]

    # Check if the word is the same as the reversed word
    return word == reversed_word

# Input a word from the user
word = input("Enter a word: ")
word_is_palindrome = palindrome(word)

if word_is_palindrome:
    print("The word is a palindrome.")
else:
    print("The word is not a palindrome.")

Enter a word: sawaira
The word is not a palindrome.

**Fibonacci numbers up to a specified limit.**

In [10]:
def fibonacci_series(number):
    # Initialize the Fibonacci sequence with the first two numbers
    fib_sequence = [0, 1]  #list
    count=1
    # Continue generating Fibonacci numbers until the next number exceeds the limit
    while (count<=number):
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        if next_fib > number:
            break
        fib_sequence.append(next_fib)

    return fib_sequence

number = int(input("Enter the number for Fibonacci numbers: "))

# Generate the Fibonacci sequence up to the limit
fibonacci_list = fibonacci_series(number)

# Print the generated Fibonacci sequence
print(f"Fibonacci numbers up to {number}: {fibonacci_list}")

Enter the number for Fibonacci numbers: 60
Fibonacci numbers up to 60: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

**finds the intersection of two lists.**

In [11]:
def find_intersection(list1, list2):
    # Convert both lists to sets and find their intersection using and operator (both true)
    intersection = list(set(list1) & set(list2))

    return intersection

list1 = [1, 2, 3, 4, 5,6,9]
list2 = [4, 5, 6, 7, 8,6,0]

# Find the intersection of the two lists
intersection_list = find_intersection(list1, list2)

# Print the result
print("The intersection of the lists is:",intersection_list)

The intersection of the lists is: [4, 5, 6]

**replaces all occurrences of a specific word in a text with another word.**

In [12]:
def replace_word(text, old_word, new_word):
    # Replace all occurrences of old_word with new_word
    replaced_text = text.replace(old_word, new_word)
    return replaced_text

# Input text from the user
text = input("Enter text: ")
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the replacement word: ")

# Replace the word and print the result
replaced_text_word = replace_word(text, old_word, new_word)
print("Updated text:", replaced_text_word)

Enter text: welcome to the hogsward
Enter the word to be replaced: hogsward
Enter the replacement word: hogsmate
Updated text: welcome to the hogsmate

**maximum and minimum values in a tuple of numbers.**

In [13]:
def maximum_minimum(numbers):
   # Use the built-in functions to find the maximum and minimum values
    max_value = max(numbers)
    min_value = min(numbers)

    return max_value, min_value
    # Use loop to find the maximum and minimum values
    for num in numbers:
        if num > max_value:
            max_value = num
        if num < min_value:
            min_value = num
    return max_value, min_value
tuple_number = (22, 1, 45, 11, 70, 34, 55)

# Find the maximum and minimum values
max_value, min_value = maximum_minimum(tuple_number)

# Print the results
print(f"The maximum value is: {max_value}")
print(f"The minimum value is: {min_value}")

The maximum value is: 78
The minimum value is: 1

**sorts a list of strings in alphabetical order.**

In [15]:
def sort(strings_list):
    n = len(strings_list)

    # Iterate over each element in the list
    for i in range(n):
        # Compare each element with the remaining elements
        for j in range(i + 1, n):
            # If the current element is greater than the next one, swap them
            if strings_list[i] > strings_list[j]:
                strings_list[i], strings_list[j] = strings_list[j], strings_list[i]

str_list = ['hello', 'world', 'control', 'descendent', 'java', 'python']
sort(str_list)

print("Sorted List:", str_list)

Sorted List: ['control', 'descendent', 'hello', 'java', 'python', 'world']

**list of integers and returns a new list with unique values**

In [18]:
def remove_duplicates(numbers):
    unique_numbers = []
    for number in numbers:
        if number not in unique_numbers:
            unique_numbers.append(number)
    return unique_numbers


input_string = input("Enter a list of integers separated by spaces: ")
# Split the String into a List:
string_list = input_string.split()
# Convert Strings to Integers:
numbers_list = []
for item in string_list:
    numbers_list.append(int(item))

unique_list = remove_duplicates(numbers_list)

print("List with unique values:", unique_list)

Enter a list of integers separated by spaces: 1 2 2 3 4 6 6
List with unique values: [1, 2, 3, 4, 6]